<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% friendship_button(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <% if @posts.empty? %>
        <li>Add <strong><%="#{@user.name.capitalize}"%></strong> as a friend in order to see their posts</li>
      <% else %>
        <%= render @posts %>
      <% end %>
    </ul>
  </article>
</section>
